# Created by https://www.toptal.com/developers/gitignore/api/node,windows,linux,macos

### Linux ###
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud

### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Instrumented libs
lib-cov

# Coverage
coverage
*.lcov
.nyc_output

# Grunt
.grunt

# Bower
bower_components

# node-waf
.lock-wscript

# Binary addons
build/Release

# Dependencies
node_modules/
jspm_packages/
web_modules/

# TypeScript
*.tsbuildinfo

# npm & eslint
.npm
.eslintcache
.stylelintcache

# Microbundle
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# REPL history
.node_repl_history

# npm pack output
*.tgz

# Yarn
.yarn-integrity

# Env files
.env
.env.*
!.env.example
.env.development.local
.env.test.local
.env.production.local
.env.local

# Parcel
.cache
.parcel-cache

# Next.js
.next
out

# Nuxt.js
.nuxt
dist

# Gatsby
.cache/

# Vuepress
.vuepress/dist
.temp

# Vitepress
**/.vitepress/dist
**/.vitepress/cache

# Docusaurus
.docusaurus

# Serverless
.serverless/

# FuseBox
.fusebox/

# DynamoDB Local
.dynamodb/

# Firebase
.firebase/

# TernJS
.tern-port

# VSCode test
.vscode-test

# Yarn v2 & v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# Vite logs
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Webpack
.webpack/

# SvelteKit
.svelte-kit/

### Windows ###
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

postgres_data
mysql_data
